<!DOCTYPE html>
<html>
<link href="/static/style.css"  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<a class="header2"  href="{{ url_for('home') }}"><h2>Individual Blogs & Comments</h2></a>
</div>


<ul>
  <form action="{{ url_for('homeCom') }}" method="post">
  <li><button class="searchbutton" type="submit" style="font-family: Courier New, Courier, monospace" onclick=page()>Home</button></li>
  <input type='text' style="display:none" id="blog_num" name='comment'>
  <input type='text' style="display:none" id="id" name='id'>
  </form>
  <li><a href="{{ url_for('subpage') }}">Create Blogs</a></li>
  <li><a href="#contact">Contact Us</a></li>
  <li><a href="{{ url_for('authorsPage') }}" method="post">Authors</a></li>
  <div class="search">


  <form action="{{ url_for('search') }}" method="post">

  <button class="searchbutton" type="submit" style="font-family: Courier New, Courier, monospace">Search</button>

  <input type="text" placeholder="Search for a blog..." name="search">
 </form>
  </div>

  <div class="ftop">
     <a href="https://www.facebook.com" class="fa fa-facebook"></a>
     <a href="https://plus.google.com/" class="fa fa-google"></a>
     <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
     <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
    </div>
</ul>

<div class="card">
  <form action="{{ url_for('homeCom') }}" method="post">
  <input type='text' style="display:none" id="blog_num" name='comment'>
  <input type='text' style="display:none" id="id" name='id'>
  </form>
 <div class="subheader">
  <h2 id = "Author"></h2>
 </div>
  <h3 id = "Title"></h3>
  <h3 id = "Date"></h3>
  <p style="text-align:justify" id = "blog"></p>
</div>
<div class="cardtwo">
  <textarea name="comment" id="comment" style="resize:none; font-size:16px" rows="8" cols="120">Enter your comments here and please be nice.
  </textarea>
  <input type="submit" onclick="addComment(document.getElementById('comment').value)">
  <div class="card center magic" id="card1" style="display: none;">
    <p id="com1">Some text..</p>
  </div>
  <div class="card center magic" id="card2" style="display: none;">
    <p id="com2">Some text..</p>
  </div>
  <div class="card center magic" id="card3" style="display: none;">
    <p id="com3">Some text..</p>
  </div>
  <div class="card center magic" id="card4" style="display: none;">
    <p id="com4">Some text..</p>
  </div>
  <div class="card center magic" id="card5" style="display: none;">
    <p id="com5">Some text..</p>
  </div>
  <div class="card center magic" id="card6" style="display: none;">
    <p id="com6">Some text..</p>
  </div>
  <div>
    <button type="button" onclick=back(k) style="display:none;" id='back'>Back</button>
    <button type="button" onclick=additionalBlogs(k) style="display:none;" id='next'>Next</button>
  </div>
  <div class="footer">
     <a href="https://www.facebook.com" class="fa fa-facebook"></a>
     <a href="https://plus.google.com/" class="fa fa-google"></a>
     <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
     <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
    </div>
<script>
blog={{blog|tojson}}
document.getElementById("Title").innerHTML=blog[0]
document.getElementById("Author").innerHTML=blog[1]
document.getElementById("Date").innerHTML=blog[2]
document.getElementById("blog").innerHTML=blog[3]
var k=0
comments={{comments|tojson}}
comments.reverse()

// Prints out all the comments in the comments array to different boxes.
for (i=0;i<comments.length;i++)
  {
    var x = "com"+String(i+1)
    var y = "card"+String(i+1)
    document.getElementById(y).style.display="block"
    document.getElementById(x).innerHTML=comments[i]
    k+=1
    if (k>5)
    {
      break
    }
  }
comments.reverse()
if (k>5)
{
  document.getElementById("next").style.display="block"
}

// If there are more than 6 comments, prints out another up to 6 of them.

function additionalBlogs(k_fake)
{
  comments.reverse()
  k=k_fake
  l=k
  counter=1
  divs=document.getElementsByClassName("magic")
  for (m=0;m<divs.length;m++)
  {
    divs[m].style.display="none"
  }
  while (k<comments.length && k-l<6)
  {
    var x = "com"+String(counter)
    var y = "card"+String(counter)
    document.getElementById(y).style.display="block"
    document.getElementById(x).innerHTML=comments[k]
    k+=1
    counter+=1
  }
  comments.reverse()
  if (k-l<6)
  {
    document.getElementById("next").style.display="none"
  }
  if (k!=6)
  {
  document.getElementById("back").style.display="block"
  }
  else {
    document.getElementById("back").style.display="none"
  }
}

// Prints the previous 6 blog posts

function back(k)
{
  k_fake=(Math.floor(k/6)-1)*6
  additionalBlogs(k_fake)
  document.getElementById("next").style.display="block"
}

// Adds a created comment to the array of comments and prints out it and all the another
// comments.

function addComment(x)
{
comments.push(x)
comments.reverse()
counter=1
for (i=0;i<comments.length;i++)
{
  var z = "com"+(counter)
  var y = "card"+(counter)
  document.getElementById(y).style.display="block"
  document.getElementById(z).innerHTML=comments[i]
  counter+=1
  if (counter>6)
  {
    break
  }
}
comments.reverse()
}

// Added the position of the relevant blog post in the blog array and the comments array to two
// hidden search bars so that the values are passed into the python code

function page()
{
  //comments.reverse()
  document.getElementById("blog_num").value=comments
  document.getElementById("id").value={{id|tojson}}
}
</script>
</html>
