<!DOCTYPE html>
<html>
<link href="/static/style.css"  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<a class="header2"  href="{{ url_for('home') }}"><h2>Creating Your Blog</h2></a>
</div>

<ul>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('subpage') }}">Create Blogs</a></li>
  <li><a href="#contact">Contact Us</a></li>
  <li><a href="{{ url_for('authorsPage') }}" method="post">Authors</a></li>
  <div class="search">


  <form action="{{ url_for('search') }}" method="post">

  <button class="searchbutton" type="submit" style="font-family: Courier New, Courier, monospace">Search</button>

  <input type="text" placeholder="Search for a blog..." name="search">
 </form>
  </div>


  <div class="ftop">
     <a href="https://www.facebook.com" class="fa fa-facebook"></a>
     <a href="https://plus.google.com/" class="fa fa-google"></a>
     <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
     <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
    </div>
</ul>

<div class="row">
  <div class="leftcolumn">
    <div class="cardtwo">

     <form action="{{ url_for('submit') }}" method="post">

      <label class="subheader" for="author">Blog Username:</label>

      <input name="author" id="author" type="text" style="font-size:16px; float: top">

      <label class="subheader" for="title">Blog Title:</label>

      <input type="text" name="title" id="title" style=" font-size:16px">

      <input type="text" id="date" name="date" style="display:none">

    </div>

    <div class="cardtwo">
      <textarea id="blog" style="resize:none; font-size:16px" name="text" rows="30" cols="85">
        Blow us away with your incredible blog making skills here!
      </textarea>
      <input type="submit">
    </div>

     </form>

    </div>
  </div>
</div>
<div class="footer">
   <a href="https://www.facebook.com" class="fa fa-facebook"></a>
   <a href="https://plus.google.com/" class="fa fa-google"></a>
   <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
   <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
  </div>

<script>
var d = new Date();
document.getElementById("date").value=d.getDay()+" "+d.getMonth()+" "+d.getFullYear()

</script>
</html>
